.Jumbotron {
    margin: 0;
    height: 30rem;
    color: var(--main-cardboard-color);
    display: block;
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
}

.LeftCorner {
  z-index: 100;
  position: absolute;
  left: -21rem;
  top: -15rem;
  height: 700px;
  transform: scale(-1, -1) rotate(30deg);
}

.RightCorner {
  z-index: 100;
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 600px;

}

.CenterFlower {
  position: absolute;
  z-index: 100;
  top: 0px;
  width: 100%;
  display: none;
  
}

.CenterFlowerSize {
  height: 300px;
  transform: rotate(180deg);
}

.Photos {
  height: 32rem;
  display: flex;
  justify-content: space-between;
  /* display: none; */
}

.HideHome {
  display: none;
}

.Children {
  position: absolute;
  width: 100%;
  top: 9rem;
}

.DistanceZero {
  top: 2rem;
}